<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="UTF-8">
</head>
<body>
<h1>예약이 완료되었습니다!!</h1>
<table>
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>편의점</th>-->
<!--        <th>상품</th>-->
<!--        <th>수량</th>-->
<!--        <th>가격</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->

<!--    </td>-->
<!--    </tr>-->
<!--    </tbody>-->
</table>
<form action="/search" method="get">
    <button type="submit">추가주문</button>
</form>
<button type="submit">주문취소</button>
</body>
</html>