<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>물건 검색</title>
</head>
<body>
<form action="/search" method="post">
    <label for="name">물건 이름:</label>
    <input type="text" id="name" name="name">
    <button type="submit">검색</button>
</form>

<!-- 검색 결과 출력 -->
<div>
    <h2>검색 결과</h2>
    <p th:if="${message}" th:text="${message}"></p>
    <table>
        <thead>
        <tr>
            <th>가게</th>
            <th>물건 이름</th>
            <th>재고</th>
            <th>가격</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${foundProducts}">
            <td th:text="${product.store.name}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.price}"></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>
